<div class="flex justify-center text-center 
            space-x-1 flex-col md:flex-row 
            border-t-[0.5px] py-3 mt-5">
    <p>
        © Copyright 2023 by Ecadem.
    </p>
    <p>
        Built with ♥ by
        <a  href="https://www.linkedin.com/in/eduardovparga/?locale=en_US"
            class="text-[#D7754C]"
            target="_blank"
        >
            Eduardo V. Parga
        </a>

    </p>
</div>