---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Inteligencia Artificial">

    <section class="bg-[#0e010d80]
                    p-0 md:p-20 gap-0 md:gap-3 
                    text-left 
                    space-x-0 md:space-x-10
                    rounded-md">
        <div>




            <div class="md:my-5 py-10 md:py-0">
                <h1 class="text-4xl font-bold text-center">Curso: introducción a la inteligencia artificial</h1>
            </div>

            <!-- 1 -->
            <div class="flex flex-col md:flex-row px-5 md:px-0">
                <div class="flex flex-1 items-center justify-center">                            
                    <p>
                        A lo largo de 6 módulos concretos, este curso es la oportunidad de tener tu primer acercamiento con conceptos sobre los cuales pivota la esencia de la inteligencia artificial, tan renombrada por estos días, y que parece ser el futuro de todo. Este espacio, que si lo haces a consciencia, te puede tomar entre 2 y 4 horas; te brinda conceptos como Inteligencia artificial, machine learning, Deep learning, procesamiento de lenguaje natural, inteligencia artificial generativa y muchos otros, en donde no solo vas a aprender qué son sino, también en qué se utilizan y hasta utilizar las herramientas mencionadas para crear tu mismo lo que quieras. 
                        
                    </p>
                </div>
                <div class="flex flex-1 items-center justify-center my-6 md:my-0 m-0 md:m-5">
                    <img class="" src="https://images.unsplash.com/photo-1526378722484-bd91ca387e72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXJ0aWZpY2lhbCUyMGludGVsbGlnZW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
                </div>
            </div>

            <!-- 2 -->
            <div class="flex flex-col md:flex-row px-5 md:px-0">
                <div class="flex flex-1 items-center justify-center my-6 md:my-0 m-0 md:m-5">
                    <img class="" src="https://images.unsplash.com/photo-1591696331111-ef9586a5b17a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGFydGlmaWNpYWwlMjBpbnRlbGxpZ2VuY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
                </div>
                <div class="flex flex-1 items-center justify-center">                            
                    <p>
                        Ahora bien, he mencionado herramientas, ¿a qué me refiero con esto? Sin hacer mucho spoiler del contenido del curso, porque la idea es dejar que algo te sorprenda, te puedo contar que se habla del famosísimo ChatGPT y porque está en boca de todos hoy en día; te encuentras también con herramientas de generación de imágenes como Dall-E 2 e incluso el universo de hugging fase y las posibilidades que te ofrece. ¿Te digo lo mejor?, no tienes que saber programar para tener un desempeño genial con estas herramientas.
                    </p>
                </div>
            </div>
            
            <!-- 3 -->
            <div class="flex flex-col md:flex-row px-5 md:px-0 py-5">
                <div class="flex flex-1 items-center justify-center">                            
                    <p>
                        Por otro lado, ¿lo que aprendas en este curso te va a servir para tus labores diarias? Si te soy sincero, no solo va a ser una utilidad añadida, la realidad es que el futuro próximo van a ser indispensables y estas tecnologías las encontrarás en todo entorno laboral en el que puedas estar, sí, en todos. 
                        <br>
                        <br>
                        Concluyendo esta review, siento el compromiso de decirte que le des una oportunidad a, por lo menos, aprender cuál es la actualidad del mundo en el que vivimos. Esto implica que busques el conocimiento, de la fuente de tu preferencia, pero que lo hagas, porque es mejor que tu afrontes este reto y no que esta realidad te golpee en la cara y te quedes rezagado ante una nueva etapa digital.
                    </p>
                </div>
                <div class="flex flex-1 items-center justify-center my-6 md:my-0 m-0 md:m-5">
                    <img class="" src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1106&q=80">
                </div>
            </div>




        </div>
    </section>
</Layout>   