
---
export interface Props {
    Saludo?: string
    Desc?: string
    Imag?: string
}


const { Saludo, Desc, Imag = "https://i.imgur.com/gLoSdl2.png" } = Astro.props;
---

<header class="bg-[#0e010d80] 
                flex justify-center flex-col md:flex-row 
                p-20 gap-3 
                text-center md:text-left 
                space-x-10">
    <div class="flex justify-center flex-col">
        <h1 class="text-5xl font-bold pb-2">
            { Saludo }
        </h1>
        <p class="text-[#BB5226] opacity-1 italic">
            { Desc }
        </p>
        <div class="flex flex-row 
                    space-x-2 
                    py-3 md:py-1 
                    justify-center md:justify-start">
            <a href="https://github.com/Ecadem" target="_blank">
                <img src="/github.png" alt="" class="w-6 transition ease-in-out hover:scale-125">
            </a>
            <a href="https://www.linkedin.com/in/eduardovparga/?locale=en_US" target="_blank">
                <img src="/linkedin.png" alt="" class="w-6 transition ease-in-out hover:scale-125">
            </a>
        </div>
    </div>

    <div class="flex justify-center">
        <img src={ Imag } alt="Avatar Eduardo" class="w-80">
    </div>

</header>