---
// Main
import Layout from '../layouts/Layout.astro';

---

<Layout title="404">
    <div class="grid place-content-center h-screen">
        <div class="flex flex-col text-center items-center">
            <div class="py-10">
                <h1 class="text-2xl md:text-6xl mb-2 md:mb-5">Esta pagina aun no esta disponible!</h1>
                <h4 class="text-lg md:text-3xl px-10 md:px-0 text-zinc-500 italic">Estamos trabando para solucionarlo lo antes posible</h4>
            </div>
            <img src="/ajuste.png" class="w-72 animate-spin delay-700">
        </div>
    </div>
</Layout>