---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Footer from '../components/shared/Footer.astro';
import Nav from '../components/shared/Nav.astro';
import '../styles/Layout.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ecadem | {title}</title>
	</head>
	<body>
		<div class="flex flex-col h-screen">

			<Nav/>
			
			<main class="flex-grow mx-auto container lg:px-20 pt-20">
				
				<slot />
				
			</main>
			<div class="mx-auto container">
				<Footer/>
			</div>			
		</div>
	</body>
</html>

